/** desktop **/
@media screen and (min-width: 800px) {
	body{
		width: 100%;
		height:100%;
		margin:0;
		padding:0;
		background-color:#25283D;
		background-image: url("space.gif");
	}
	h1{
		color:#EFD9CE;
		background-color:#8f3985;
		font-size:220%;
		clear:left;
		margin-left:auto;
		margin-right:auto;
		width:360px;
		padding:10px;
		position:center;
		text-align:center;
	}
	div{
		width:50%;
	}

	label{
		
		color:#EFD9CE;
		background-color:#A675A1;
		text-align:center;
	}
	input{
		color:#EFD9CE;
		background-color:#CEA2AC;
		border:none;
		margin-top: 1px;
		margin-bottom:2px;
	
	}
	form{
		margin-top: 10px;
		margin-bottom:20px;
		background-color: #A675A1;
		clear:left;
		padding:10px;
		margin:15px;
		text-decoration:none;
	
	
	}
	fieldset{
		display:block;
	
	}
}
/** mobile display **/ 
